.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh; /* Adjust the height as needed */
  justify-content: center; /* Center content horizontally */
  background-color: #f9f9f9; /* Background color for the whole page */
}

.content-left,
.content-right {
  flex: 1;
  padding: 20px;
  background-color: #f9f9f9; /* Background color for left and right content */
}

.vertical-line {
  width: 1px; /* Width of the vertical line */
  height: 100%; /* Extends the line to the full height of the container */
  background-color: #ccc; /* Color of the vertical line */
  position: absolute;
  left: 20%; /* Position the line at 40% of the page width */
}

.right-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.underline {
  text-decoration: underline;
  margin-top: 10px; /* Adjust the margin as needed */
  font-weight: bold; /* Optional: Add bold styling to the underlined text */
}
