.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #f9f9f9;
}

.content-left,
.content-right {
  flex: 0.15;
  padding: 20px;
  background-color: #f9f9f9;
  margin-top: 20px;
  padding-right: 50px;
}

.vertical-line {
  width: 1px;
  height: 100%;
  background-color: #ccc;
  position: absolute;
  left: 20%;
}

.right-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.underline {
  text-decoration: underline;
  margin-top: 10px;
  font-weight: bold;
}

.logo-container {
  position: absolute;
  top: 20px;
  left: 20px;
  align-items: top;
  display: flex;
}

.logo {
  width: 50px;
  margin-left: 10px;
  margin-right: 20px; 
  margin-bottom: 40px;
}

.list-title {
  position: absolute;
  top: 20px;
  left: 350px;
  margin-left: 10px;
  padding: 5px;
  font-size: 30px;
  font-weight: 600;
}

.title {
  font-size: 30px;
  font-weight: 600;
  margin-left: 10px;
  padding: 5px;
  font-size: 35px;
}

.lists-title {
  font-weight: 600;
  font-size: 25px;
}

.list-of-lists {
  margin-left: 20px;
}

.button-list {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px 0;
  padding: 10px 20px;
}

.strikethrough {
  text-decoration: line-through;
}

.horizontal-line {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  position: absolute;
  left: 20%;
  top: 150px; /* Adjust the value as needed */
}

.button-item {
  position: absolute;
  top: 100px; /* Adjust the value as needed */
  left: 400px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 40px 0;
  margin-top: 90px;
  margin-left: -50px;
  padding: 10px 20px;
}

h2 {
  margin: 0px;
  padding: 5px;
}

